/* header {
  margin-bottom: 25px;

  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    background-color: black;
    
    padding-top: 25px;
  }

  .navigation {
    padding-top: 25px;
  }

  .tools {
    padding-top: 38px;

    .pi {
      margin-right: 10px;
    }
  }
} */

header {
  margin-bottom: 25px;
}
header .logo img {
  width: 160px;
}
header .search {
  padding-top: 25px;
}
header .navigation {
  padding-top: 25px;
}
header .tools {
  padding-top: 38px;
}
header .tools .pi {
  margin-right: 10px;
}
