/*Base*/
@import url('../node_modules/normalize.css/normalize.css');
@import url('./base/color.scss');
@import url('./base/fonts.scss');
@import url('./base/mixins.scss');


/*css libraries*/
/*@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');*/

@import url('../node_modules/primeicons/primeicons.css');
@import url('../node_modules/primeng/resources/themes/saga-blue/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/primeflex/primeflex.css');

@import url('./base/configuration.scss');

/*Pages*/
/* @import url('./apps/eshop/pages/home-page.scss');
@import url('./apps/eshop/pages/products-list-page.scss'); */

/*Shared*/
@import url('./apps/eshop/shared/header.scss');
/* @import url('./apps/eshop/shared/footer.scss'); */
@import url('./apps/eshop/shared/nav.scss');

/*Libs*/
@import url('./libs/ui/ui.scss');
@import url('./libs/products/products.scss');

.container {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--surface-100);
}
